.preloader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preloader-container p {
  font-family: Pixelicious, monospace;
  color: rgb(196, 0, 171);
  font-size: 100px;
}